.MainBlock {
    background-color:var(--background_main_color);
    height: var(--main_block_height);
    width: var(--main_block_width);
    display: flex;
    align-items: center;
    justify-content: center;
}

.MainBlock form input, .MainBlock input {
    margin: var(--input_margin);
    padding: var(--input_padding);
    background-color: var(--background_third_color); 
    width: 90%;

    font-weight: var(--input_font_weight);
    font-family: var(--input_font_family);
    font-size: var(--input_font_size);

    box-shadow: 0px 0px var(--border_width) var(--border_width) var(--main_color);
    border-top-right-radius: var(--border_radius);
    border-bottom-right-radius: var(--border_radius);
}

.MainBlock form input {
    color: var(--input_text_color);    
}

.MainBlock form button, .MainBlock button {
    margin: var(--button_margin);
    padding: var(--button_padding);
    width: max-content;
    align-self: flex-end;
    background-color: var(--background_second_color); 

    color: var(--second_color);
    font-weight: var(--button_font_family);
    font-family: var(--button_font_weight);
    font-size: var(--button_font_size);

    box-shadow: 0px 0px var(--border_width) var(--border_width) var(--main_color);
    border-top-left-radius: var(--border_radius);
    border-bottom-left-radius: var(--border_radius);
}

.MainBlock form h3, .MainBlock h3 {
    margin: var(--h3_margin);
    padding: var(--h3_padding);
    color: var(--second_color);
    font-family: var(--h3_font_family);
    font-weight: var(--h3_font_weight);
    font-size: var(--h3_font_size); 
    align-self: flex-start;       
}

.MainBlock form h4, .MainBlock h4 {
    margin: var(--h4_margin);
    padding: var(--h4_padding);
    color: var(--second_color);
    font-family: var(--h4_font_family);
    font-weight: var(--h4_font_weight);
    font-size: var(--h4_font_size);
    align-self: flex-start;    
}

.MainBlock form p, .MainBlock p {
    margin: var(--p_margin);
    padding: var(--p_padding);
    color: var(--third_color);
    font-family: var(--p_font_family);
    font-weight: var(--p_font_weight);
    font-size: var(--p_font_size);    
}
