.NavigationItem button {
    padding: var(--button_padding);
    width: max-content;
    border-bottom-right-radius: var(--border_radius);
    border-bottom-left-radius: var(--border_radius);
    background-color: var(--background_second_color);   
    box-shadow: 0px 0px var(--border_width) var(--border_width) var(--main_color);
    color: var(--second_color);  
    font-weight: var(--button_font_weight);
    font-family: var(--button_font_family);
    font-size: var(--button_font_size);
    cursor: pointer;
}