.ResponseError {
    padding: 25px;
    background-color: rgb(247, 221, 226); 
    border: 2px solid rgb(168, 0, 0);   
    border-radius: 10px;
    color: rgb(168, 0, 0);
    font-weight: 400;
    font-family: emoji;
    font-size: 19px;
    max-width: 333px;
    text-wrap: true;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ResponseError button {
    margin-top: 15px;
    padding: 3px;
    width: max-content;
    background-color: rgb(232,240,254);     
    font-weight: 400;
    font-family: emoji;
    font-size: 19px;
}