.AccountImageButton {
    background-color:slategrey; 
    color:rgb(255, 140, 100);
    transition-property: background-color;
    transition-duration: 0.5s;
}

.AccountImageButton button p {
    margin: 6px 5px;
    color:rgb(255, 140, 100);
}
