.AboutUserView {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AboutUserView img {
    border-radius: var(--border_radius);
}

.AboutUserView img {
    max-height: var(--personal_block_img_max_height);
    max-width: var(--personal_block_img_max_width);
    align-self: center;
    padding: 0px;
}