* {
    margin: 0;
    padding: 0;
}

/* Start of CSSTransition for MiniMenu className */
.MiniMenu-enter {
    opacity: 0;
}
.MiniMenu-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}
.MiniMenu-enter-done {
    opacity: 1;
    pointer-events: all;
}
.MiniMenu-exit {
    opacity: 1;
}
.MiniMenu-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}
.MiniMenu-exit-done {
    opacity: 0;
    pointer-events: none;
}
/* End of CSSTransition for MiniMenu className */