.DownBlock {
    background-color:var(--background_second_color); 
    color: var(--second_color);
    font-weight: var(--p_font_weight);
    font-size: var(--p_font_size);
    font-family: var(--p_font_family);
    max-height: var(--down_block_height);
    z-index: var(--down_block_z_index);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: var(--border_width) solid var(--main_color);
}