.DownBlock {
    background-color:rgb(106, 111, 116); 
    color:rgb(255, 140, 100);
    font-weight: 400;
    font-size: 19px;
    font-family: emoji;
    height: 9.55vh;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid rgb(255, 140, 100);
}