.UserActivationPage {
    background-color: var(--background_main_color);
    width: var(--user_activation_page_width);
    height: var(--user_activation_page_height);
}

.UserActivationPage h3 {
    color: var(--second_color);
    margin: 0px;
    padding: var(--h3_padding);    
    font-weight: var(--h3_font_weight);
    font-family: var(--h3_font_family);
    font-size: var(--h3_font_size);
    text-align: center;
}

