.NavigationCollection {
    background-color: var(--background_main_color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    height: var(--navigation_height);
    padding-bottom: var(--navigation_bottom_padding);
}