.LoadingBlock {
    position: absolute;
    top: var(--loading_block_top);
    left: var(--loading_block_left);    
    width: var(--loading_block_width);
    height: var(--loading_block_height);
    z-index: var(--loading_block_z_index);
    background-color: var(--background_load_color);       
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}