/* Start of CSSTransition for LoadingBlock className */
.LoadingBlock-enter {
    opacity: 0;
}
.LoadingBlock-enter-active {
    opacity: 0.9;
    transition: opacity 333ms;
}
.LoadingBlock-enter-done {
    opacity: 0.9;
    pointer-events: all;
}
.LoadingBlock-exit {
    opacity: 0.9;
}
.LoadingBlock-exit-active {
    opacity: 0;
    transition: opacity 333ms;
}
.LoadingBlock-exit-done {
    opacity: 0;
    pointer-events: none;
}
/* End of CSSTransition for MiniMenu className */
