.TopBlock {
    background-color:slategrey; 
    color:rgb(255, 140, 100);
    font-weight: 400;
    font-size: 19px;
    font-family: emoji;
    padding: 10px 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}