.TipsBlock {
    background-color: var(--background_menu_color);
    border-top-left-radius: var(--border_radius);
    border-bottom-left-radius: var(--border_radius);
    border-bottom-right-radius: var(--border_radius);
    position: absolute;
    min-width: max-content;
    min-height: max-content;
    pointer-events: none;
    z-index: var(--mini_menu_z_index);
    opacity: 0.5;
}