.TipsBlock {
    background-color: var(--background_menu_color);
    border-top-right-radius: var(--border_radius);
    border-bottom-right-radius: var(--border_radius);
    position: absolute;
    min-width: max-content;
    max-height: var(--max_tips_block_height);
    pointer-events: none;
    z-index: var(--tips_block_z_index);
    overflow: hidden;
}