.ScrollableVertical {
    background-color: var(--background_main_color);
    max-height: var(--all_blocks_max_height);
    overflow: auto;
    overflow-x: hidden;
    padding-top: var(--scrollable_padding_top);
    padding-bottom: var(--scrollable_padding_down);
    padding-right: var(--scrollable_padding_right);
    padding-left: var(--scrollable_padding_left);
    user-select: none;
}

.ScrollableVertical::-webkit-scrollbar {
    width: 10px;
    background-color: var(--background_second_color);    
}

.ScrollableVertical::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid var(--main_color);
}