.UserItem {
    margin: var(--user_item_margin);
    height: max-content;
    width: max-content;
    background-color: var(--background_main_color); 
    cursor: pointer;   
    border-radius: var(--border_radius_small);  
    display: flex;
    align-items: center;
    box-shadow: 0px 0px var(--border_width) var(--border_width) var(--main_color);
}

.UserItem img {
    max-height: var(--user_item_image_max_height);
    max-width: var(--user_item_image_max_width);
    padding: var(--user_item_image_padding);
    box-shadow: 0px 0px var(--border_width) var(--border_width) var(--third_color);
}