.AccountImageButton {
    border-top-left-radius: var(--border_radius);
    border-top-right-radius: var(--border_radius);
}

.AccountImageButton button p { 
    color: var(--second_color);
    font-family: var(--p_font_family);
    font-weight: var(--p_font_weight);
    margin: var(--p_margin);
    padding: var(--p_padding);
}
