/* Start of CSSTransition for AccountImageButton className */
.AccountImageButton-init {
    display: inline-flex;
    background-color: var(--background_second_color);
    border-top-left-radius: var(--border_radius);
    border-top-right-radius: var(--border_radius);
    border: var(--border_width) solid transparent;
}
.AccountImageButton-enter {
    background-color: var(--background_second_color); 
    border: var(--border_width) solid transparent;
}
.AccountImageButton-enter-active {
    background-color: var(--background_menu_color); 
    border: var(--border_width) solid;
    transition: all var(--CSSTransition_mini_menu_duration);
}
.AccountImageButton-enter-done {
    border-top-left-radius: var(--border_radius);
    border-top-right-radius: var(--border_radius);
    border: var(--border_width) solid var(--main_color);
    background-color: var(--background_menu_color);  
}
.AccountImageButton-exit {
    border: var(--border_width) solid;
    background-color: var(--background_menu_color); 
}
.AccountImageButton-exit-active {
    background-color: var(--background_second_color); 
    border: var(--border_width) solid transparent;    
    transition: all var(--CSSTransition_mini_menu_duration);
}
.AccountImageButton-exit-done {
    border: var(--border_width) solid transparent;
    background-color: var(--background_second_color); 
}
/* End of CSSTransition for AccountImageButton className */