.ResponseError {
    padding: var(--block_padding);
    margin: var(--block_margin);
    background-color: var(--background_second_color); 
    box-shadow: 0px 0px var(--border_width) var(--border_width) var(--error_color);
    border-radius: var(--border_radius);
    min-width: var(--responce_block_min_width);
    min-height: var(--responce_block_min_height);
    max-width: var(--responce_block_max_width);
    max-height: var(--responce_block_max_height);
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.ResponseError button {
    margin: var(--button_margin);
    padding: var(--button_padding);
    width: max-content;
    align-self: flex-end;
    background-color: var(--background_second_color); 

    color: var(--error_color);
    font-weight: var(--button_font_family);
    font-family: var(--button_font_weight);
    font-size: var(--button_font_size);

    box-shadow: 0px 0px var(--border_width) var(--border_width) var(--error_color);
    border-top-left-radius: var(--border_radius);
    border-bottom-left-radius: var(--border_radius);
}

.ResponseError h4 {
    color: var(--error_color);
    font-family: var(--h4_font_family);
    font-weight: var(--h4_font_weight);
    font-size: var(--h4_font_size);
    margin: var(--h4_margin);    
    padding: var(--h4_padding);
}

.ResponseError p {
    font-family: var(--p_font_family);
    font-weight: var(--p_font_weight);
    font-size: var(--p_font_size);
    margin: var(--p_margin);    
    padding: var(--p_padding);
    color: var(--third_color);
    max-width: var(--responce_block_max_width);
    word-wrap: break-word;
    white-space: pre-wrap;
}