.Clue {    
    font-weight: 400;
    font-family: emoji;
    font-size: 19px;
}

.Clue p {    
    color: slategray;      
    background-color: rgb(231, 189, 198);
    border: 2px solid rgb(39, 43, 48);
    margin: 4px 0px;
    padding: 3px;
}