.RadioAsButton {
    display: inline-block;
} 

.RadioAsButton input[type=radio] {
	display: none;
}

.RadioAsButton label {
	display: inline-block;
	cursor: pointer;
	border: var(--border_width) solid var(--main_color);
	border-radius: var(--border_radius_small);
	user-select: none;
}

/* Checked */
.RadioAsButton input[type=radio]:checked + label {
	background: var(--main_color);
}
 
/* Hover */
.RadioAsButton label:hover {
	color: var(--fourth_color);
}