.MiniMenu {
    background-color: var(--background_menu_color);
    border-radius: var(--border_radius);
    position: absolute;
    width: max-content;
    height: max-content;
    pointer-events: none;
}