.MiniMenu {
    background-color: var(--background_menu_color);
    border-radius: var(--border_radius);
    position: absolute;
    min-width: max-content;
    min-height: max-content;
    pointer-events: none;
    opacity: 0;
}