/* Start of CSSTransition for MiniMenu className */
.MiniMenu-enter {
    opacity: 0;
    border: 2px solid rgb(59, 61, 63) transparent;
}
.MiniMenu-enter-active {
    opacity: 1;
    border: 2px solid rgb(59, 61, 63);
    transition: opacity 500ms;
}
.MiniMenu-enter-done {
    opacity: 1;
    border: 2px solid rgb(180, 188, 196);
    pointer-events: all;
}
.MiniMenu-exit {
    border: 2px solid rgb(59, 61, 63);
    opacity: 1;
}
.MiniMenu-exit-active {
    opacity: 0;
    border: 2px solid rgb(59, 61, 63) transparent;
    transition: opacity 500ms;
}
.MiniMenu-exit-done {
    opacity: 0;
    border: 2px solid rgb(59, 61, 63) transparent;
    pointer-events: none;
}
/* End of CSSTransition for MiniMenu className */