.СommunicationMainBlock {    
    padding: var(--block_padding);
    max-width: var(--communication_block_max_width);
    max-height: var(--communication_block_max_height); 
    min-width: var(--communication_block_min_width);
    min-height: var(--communication_block_min_height);
    box-shadow: 0px 0px var(--border_width) var(--border_width) var(--main_color);
    background-color: var(--background_second_color);
    border-radius: var(--border_radius);
}