.Scrollable {
    background-color: var(--background_second_color);
    max-height: var(--all_blocks_max_height);
    border-radius: var(--border_radius);
    overflow: auto;
    overflow-x: hidden;
    padding: var(--border_scrollable_width);
}

.Scrollable::-webkit-scrollbar {
    width: 10px;
    background-color: var(--background_second_color);    
}

.Scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid var(--main_color);
}