:root {
  --background_main_color: rgb(64, 66, 68);
  --background_second_color: rgb(52, 54, 58);
  --background_third_color: rgb(223, 223, 223);
  --background_tip_color: rgb(231, 189, 198);
  --background_error_color: rgb(117, 97, 101);
  --background_load_color: rgb(64, 66, 68);
  --background_menu_color: rgb(94, 96, 99);
 
  --main_color: rgb(214, 124, 255);
  --second_color: rgb(233, 185, 255);  
  --third_color: rgb(253, 247, 255);
  --fourth_color: rgb(179, 170, 184);
  --tip_color: rgb(65, 79, 94);
  --error_color: rgb(223, 104, 129);

  --top_block_offset: -36px;
  --mini_menu_z_index: 1000;

  --block_padding: 15px;
  --block_margin: 10px;

  --min_width: 35vh;
  --min_height: 25vh;
  --max_width: 45vh;
  --max_height: 50vh;

  --border_width: 2px;
  --border_radius: 18px;
  
  --h2_font_family: DejaVu Sans Mono, monospace;
  --h2_font_weight: 500;
  --h2_font_size: 25px;
  --h2_margin: 10px;
  --h2_padding: 5px;  

  --h3_font_family: DejaVu Sans Mono, monospace;
  --h3_font_weight: 500;
  --h3_font_size: 22px; 
  --h3_margin: 10px;
  --h3_padding: 5px; 

  --h4_font_family: DejaVu Sans Mono, monospace;
  --h4_font_weight: 400;
  --h4_font_size: 20px;
  --h4_margin: 5px 5px 0px 0px;
  --h4_padding: 5px;  
  
  --p_font_family: DejaVu Sans Mono, monospace;
  --p_font_weight: 400;
  --p_font_size: 19px; 
  --p_margin: 5px;
  --p_padding: 3px; 

  --input_font_family: DejaVu Sans Mono, monospace;
  --input_font_weight: 400;
  --input_font_size: 19px; 
  --input_margin: 5px;
  --input_padding: 3px;
  --input_text_color: black;

  --button_font_family: DejaVu Sans Mono, monospace;
  --button_font_weight: 400;
  --button_font_size: 19px; 
  --button_margin: 15px 5px;
  --button_padding: 5px;
  --button_text_color: black;

  --loading_block_left: 0;
  --loading_block_top: 10.3vh;
  --loading_block_width: 100vw;
  --loading_block_height: 79.7vh;
  --loading_block_z_index: 100;

  --user_activation_page_width: 100vw;
  --user_activation_page_height: 100vh;

  --user_card_margin: 10px;
  --user_card_min_width: 177px;
  --user_card_max_width: 222px;
  --user_card_min_height: 40px;  

  --user_card_img_margin: 6px;
  --user_card_img_max_width: 44px;
  --user_card_img_max_height: 44px;

  --personal_page_img_max_height: 222px;
  --personal_page_img_max_width: 222px;

  --menu_item_padding: 7px;
  --menu_item_margin: 0px 10px 10px 10px; 

  --CSSTransition_mini_menu_duration: 0.5s;
}