.UserCard {
    margin: var(--user_card_margin);
    min-width: var(--user_card_min_width);
    max-width: var(--user_card_max_width);
    min-height: var(--user_card_min_height);
    background-color: var(--background_second_color); 
    box-shadow: 0px 0px var(--border_width) var(--border_width) var(--main_color);
    border-radius: var(--border_radius);
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.UserCard p {
    margin: var(--p_margin);
    color: var(--third_color);
    font-family: var(--p_font_family);
    font-weight: var(--p_font_weight);
    font-size: var(--p_font_size);    
    word-wrap: break-word;
    word-break: break-all;
}

.UserCard img {
    margin-top: var(--user_card_img_margin);
    margin-left: var(--user_card_img_margin);
    max-width: var(--user_card_img_max_width);
    max-height: var(--user_card_img_max_heigth);   
}